.logo {
  height: 8rem;
  margin-top: 30px;
}

.footer-logo {
  height: 50px;
}

.alignCenter {
  top: 70px;
}

.page-footer {
  bottom: 0;
  height: 62px;
  position: absolute;
  width: auto;
  background: aqua;
  width: -webkit-fill-available;
  background: linear-gradient(white, #2977da);
  display: flex;
}

.copyright-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 1;
}

.signin-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
}



.icon-cross {
  background: url('assets/images/Close-Icon.png');
  background-size: contain;
  width: 15px;
  position: absolute;
  right: 16px;
  background-repeat: no-repeat;
  height: 30px;
  top: 12px;
}

input {
  width: 190px;
  padding-left: 60px;
  box-shadow: inset 0px 0px 0px 1px #151617;
  border-radius: 5px;
}

.username-icon {
  top: -7px;
  left: 5px;
}

.forgot {
  margin-top: 0;
  margin-bottom: 20px;
}

.login-btn {
  background: linear-gradient(#7fa53d, #507316);
  max-width: 250px;
  height: 40px;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 1px #222223;
}

.password-icon-style {
  left: -254px !important;
}

.divider {
  margin-top: 0 !important;
}

.page-footer .logo-img {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.background-img {
  width: -webkit-fill-available;
  background: url('assets/images/ortho.png');
  height: 100%;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

.divider {
  width: 100%;
  height: 1px;
  background: #2b3741;
  border-bottom: 1px solid #716868;
  clear: both;
  margin-top: 10px;
  margin-bottom: 25px;
}

button {
  margin-left: 28.5px;
  margin-right: 40.5px;
  margin-top: 0;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #71a027 5%, #628b22 5%);
  width: 268px;
  height: 35px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

p {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Ubuntu';
  margin-top: 20px;
}

.close {
  right: 10px;
  position: absolute;
  font-size: 28px;
  color: #31231e;
}

.reg {
  color: #e67633;
}

span.password-icon-style.icon.password-icon.fontawesome-lock {
  left: -254px;
  top: 68px;
}

.input:after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  border-right: 5px solid;
  border-color: #242c32;
  border-radius: 3px;
}

#login {
  width: 330px;
  /* background:url('assets/images/back.png'); */
  height: 320px;
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
  border-top: 1px solid #464c4c;
  /* background: url('assets/images/back.png'); */
  background: linear-gradient(90deg, #40434a, #846a67, #40434a);
  background-repeat: no-repeat;
  background-position: center;
  /* background: rgb(26,34,37); */
  /* background: -moz-linear-gradient(top,  rgba(26,34,37,.96) 0%, rgba(75,87,94,0.96) 65%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,34,37,.96)), color-stop(65%,rgba(75,87,94,.96)));
  background: -webkit-linear-gradient(top,  rgba(26,34,37,.96) 0%,rgba(75,87,94,.96) 65%);
  background: -o-linear-gradient(top,  rgba(26,34,37,.96) 0%,rgba(75,87,94,.96) 65%);
  background: -ms-linear-gradient(top,  rgba(26,34,37,.96) 0%,rgba(75,87,94,.96) 65%);
  background: linear-gradient(to bottom,  rgb(92, 76, 70) 0%,rgb(76, 90, 77) 65%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2225', endColorstr='#4b575e', GradientType=0);
  border-radius: 5px;
}

h3 {
  width: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  padding: 0 0 0px 0;
  margin: 10px;
}

.orangestop {
  color: #e76744;
}

input {
  width: 200px;
  height: 45px;
  background: #00000059;
  border: 0;
  border-radius: 5px;
  border-bottom: 1px solid #646c72;
  outline: 0;
  padding-left: 70px;
  font-family: 'Ubuntu';
  color: #fff;
  margin-bottom: 25px;
}

.input {
  position: relative;
}

.icon {
  position: absolute;
  left: 20px;
  padding: 5px 0;
  top: -4px;
  height: 20px;
  width: 30px;
  color: #fff;
  transition: .7s;
}

.icon:after {
  width: 2px;
  position: absolute;
  right: 0;
  top: 2px;
  content: '';
  background: #2e3a42;
  background: -moz-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e3a42), color-stop(50%, #3e5360), color-stop(100%, #2e3a42));
  background: -webkit-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
  background: -o-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
  background: -ms-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
  background: linear-gradient(to bottom, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3a42', endColorstr='#2e3a42', GradientType=0);
}

.input:after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  border-right: 5px solid;
  border-color: #242c32;
  border-radius: 3px;
}

.color {
  color: #e76744 !important;
}

span.input:after {
  transition: .7s;
}

.border-color:after {
  border-color: #e76744 !important;
}
